html,
body {
  height: 100%;
  @extend %Monts-Regular;
  color: $dark-grey;
  background-color: $background;
  // position: relative;
  // overflow-x: hidden;
  // margin: 0 auto;
  font-size: 18px;
}

body.menu-opened {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: $background;
  position: relative;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  // background-color: $green;
  background: $blue;
  border-radius: 5px;
  border: 1px solid $dark-blue;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 162px;
}

.title-h1 {
  @extend %Oswald-Regular;
  font-size: 80px;
  // line-height: 49px;
  // padding: 0px 35px;
  // border-bottom: 2px solid $blue;
  // text-align: center;
  // margin: 0 auto;
  // margin-bottom: 56px;
  // max-width: fit-content;
}

.title-h2 {
  @extend %Oswald-Regular;
  font-size: 64px;
  margin-bottom: 30px;
}

.title-h3 {
  @extend %Oswald-Regular;
  font-size: 48px;
}

.title-h4 {
  @extend %Oswald-Regular;
  font-size: 40px;
}

.global-btn {
  @extend %Monts-Regular;
  background-color: $blue;
  border-radius: 3px;
  padding: 10px 20px;
  color: $white;
  font-size: 16px;
  border: 1px solid $blue;
  transition: all .3s;
  max-width: fit-content;
  cursor: pointer;
  display: block;

  &:hover {
    background-color: $white;
    color: $blue;
  }
}

.global-btn--white {
  @extend %Monts-Regular;
  background-color: $white;
  border-radius: 3px;
  padding: 10px 20px;
  color: $dark-blue;
  font-size: 16px;
  border: 1px solid $white;
  transition: all .3s;
  max-width: fit-content;
  cursor: pointer;
  display: block;

  &:hover {
    background-color: $blue;
    color: $white;
  }
}

.global-btn--length {
  padding: 10px 50px;
  font-size: 18px;
}

.section {
  // margin: 50px 0;
  padding: 50px 0;
}



// .main-onescreen__images {
//   position: absolute;
//   right: 0;
//   bottom: 0;
//   height: 94vh;
// }

// .main-onescreen__img {
//   width: 100%;
//   height: 100%;
// }
.global-screen__adv {
  max-width: 460px;
  width: 100%;
  margin-bottom: 60px;
}

.global-screen__list {
  padding-left: 40px;
  position: relative;
  margin-bottom: 30px;

  &::before {
    position: absolute;
    content: '';
    top: 0px;
    left: 0;
    width: 30px;
    height: 30px;
    background-image: url('../images/icons/icon-adv.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}





.slick-prev {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0px;
  z-index: 1;
}

.slick-next {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0px;
  z-index: 1;
}

.slick-arrow {
  cursor: pointer;
  background-color: transparent;
  border: none;

  .arrow__wrapper {
    img {
      width: 40px;
      height: 90px;
    }
  }
}

.slick-dots {
  text-align: center;
  display: flex;
  justify-content: center;
  list-style: none;

  button {
    background-color: $white;
    border: 1px solid $blue;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin: 20px 10px;
    font-size: 0;
    margin-bottom: 0;
    cursor: pointer;
  }
}

.slick-dots li[class="slick-active"] button {
  background-color: $blue;
}



.modal {
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  height: 100%;
  // background: rgba(1, 23, 32, 0.9);
  backdrop-filter: blur(10px);
  background-color: rgba(25, 43, 68, 0.9);
  display: none;

}



.modal__inner {
  width: 100%;

}

.modal__wrapper {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}

.modal__title {
  position: relative;
  text-align: center;
  color: $white;
}

.close__btn {
  position: absolute;
  top: 12px;
  right: 0;
  z-index: 2;
  cursor: pointer;
}

.close__line {
  width: 30px;
  background-color: $white;
  height: 3px;
  border-radius: 5px;
  display: block;
  margin-bottom: 6px;
  position: relative;
}

.close__line1 {
  transform: rotate(45deg);
  top: 6px;
}

.close__line2 {
  transform: rotate(-45deg);
  top: -3px;
}

.show {
  display: block;
  display: flex;
  align-items: center;
}

.hide {
  display: none;
}