@media(max-width: 1800px) {
  .nav {
    display: none;
    z-index: 3;

    &.active {
      position: fixed;
      top: 0px;
      right: 0;
      max-width: 630px;
      width: 100%;
      bottom: 0;
      background-color: $white;
      display: flex;
      align-content: space-between;
      flex-wrap: wrap;
      padding: 95px 250px 40px 80px;
      overflow-y: scroll;
      height: 100%;


      .menu {
        width: 100%;
        height: fit-content;
        margin-bottom: 30px;
      }

      .mob-menu {
        display: block;
        width: 200px;

        .social {
          display: block;
        }
      }

      .mob-menu__contacts {
        margin-bottom: 30px;

        .mob-menu__contacts-link {
          margin-bottom: 20px;
          transition: all .3s;

          &:hover {
            color: $red;
          }
        }
      }
    }
  }

  .menu__list-drop.active {
    .dropmenu {
      display: block;
      position: inherit;
      top: 0;
      padding: 20px 10px 0px 10px !important;
    }
  }

  .menu__list {
    display: block;
    padding: 0;
    margin-bottom: 20px;


    &+.menu__list {
      margin-left: 0;
    }
  }

  .menu__btn {
    display: block;
  }

  .header__logo {
    margin-right: auto;
  }

  .header__btn {
    margin: 0 30px;
  }
}

@media(max-width: 1700px) {
  .main-stages__item {
    width: 400px;
    // width: 100%;
    height: 350px;
  }
}

@media(max-width: 1600px) {
  .header {
    padding: 10px 0;
  }

  .main-onescreen {
    padding-top: 80px;
  }

  .main-onescreen__body {
    position: relative;
  }

  .main-onescreen-title {
    margin-bottom: 40px;
  }

  .container {
    padding: 0px 120px;
  }

  .start-contact__inner {
    justify-content: space-between;
  }

  .start-contact__item-tel--wrapper,
  .start-contact__item-email {
    display: none;
  }

  .main-services__item {
    height: 650px;
  }

  .main-portfolio__item-content {
    padding-left: 120px;
    width: 50%;
  }

  .project-map__bg {
    height: 730px;
  }

  .secondary-onescreen {
    padding-top: 68px;
  }

  .present {
    min-height: 550px;
  }

  .stages__content {
    flex-wrap: wrap;
    // padding-left: 30px;
  }

  .stages__content-box {
    padding-left: 0;
  }

  .stages__wrapper {
    align-items: flex-start;
  }

  .stages__content-number {
    font-size: 128px;
    line-height: 128px;
    min-height: auto;
    background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .standard-projects__item {
    height: 60vh;
  }
}

@media(max-width: 1500px) {

  .main-stages__inner {
    justify-content: space-around;
  }

  .main-stages__item {
    width: 450px;
    height: 400px;
    margin-bottom: 50px;
  }
}

@media(max-width: 1400px) {
  .container {
    padding: 0px 80px;
  }

  .main-services__item {
    height: 600px;
  }

  .main-portfolio__item-content {
    padding-left: 80px;
    width: 50%;
  }

  .main-portfolio__item {
    height: 500px;
  }

  .main-portfolio__item-img img {
    height: 500px;
  }

  .product1-img {
    width: 502px;
    height: 526px;
  }

  .slider-for.slick-initialized.slick-slider {
    width: 502px !important;
  }
}

@media(max-width: 1300px) {
  .title-h1 {
    font-size: 64px;
  }

  .title-h2 {
    font-size: 48px;
  }

  .title-h3 {
    font-size: 40px;
  }

  .title-h4 {
    font-size: 36px;
  }

  .main-onescreen {
    height: 720px;
  }

  .main-services__item {
    height: 550px;
  }

  .adv__item-title {
    margin-bottom: 30px;
  }

  .adv__item {
    margin-top: 180px;
    max-width: 440px;
    padding: 30px 20px;

    &::before {
      width: 300px;
      height: 300px;
      top: 0;
    }
  }

  .adv__item-logo {
    top: 7px;

    svg {
      width: 70px;
      height: 72px;
    }
  }

  .project-map__bg {
    height: 600px;
  }

  .present__img {
    object-fit: inherit;
  }

  .standard-projects__item-box {
    padding: 30px 80px;
  }

  .standard-projects__item {
    height: 50vh;
  }

  .other-projects__item {
    height: 40vh;
  }

  .product2-img {
    max-width: 245px;
    height: 170px;
  }
}

@media(max-width: 1200px) {
  .main-services__item {
    height: 500px;
  }

  .main-portfolio__item-content {
    width: 60%;
  }

  .main-portfolio__item {
    height: 400px;
  }

  .main-portfolio__item-img img {
    height: 400px;
  }

  .team__photo {
    height: 800px;
    padding: 0 15px;
    gap: 15px;
  }

  .team__content-text {
    margin-bottom: 30px;
  }

  .team__content-subtitle {
    font-size: 24px;
  }

  .footer__inner {
    flex-wrap: wrap;
  }

  .footer__item-1 {
    order: 1;
    // margin-right: auto;
  }

  .footer__item-2 {
    order: 3;
    max-width: 400px;
    width: 100%;
  }

  .footer__item-3 {
    order: 4;
    max-width: 300px;
    width: 100%;
    margin-right: auto;
  }

  .footer__item-4 {
    order: 2;
    margin-left: 150px;
    // padding-left: 100px;
  }

  .product__wrapper {
    flex-wrap: wrap;
  }

  .product__box {
    order: -1;
    margin-bottom: 30px;
    margin-left: 0;
  }

  .product__inner {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }

  .product1-img {
    max-width: 800px;
    width: 100%;

  }

  .slider-for.slick-initialized.slick-slider {
    max-width: 800px;
    width: 100% !important;
    margin: 0 auto;
  }
}

@media(max-width: 1100px) {

  html,
  body {
    font-size: 16px;
  }

  .title-h1 {
    font-size: 48px;
  }

  .title-h2 {
    font-size: 40px;
  }

  .title-h3 {
    font-size: 36px;
  }

  .title-h4 {
    font-size: 32px;
  }

  .menu__list {
    font-size: 16px;
  }

  .header__logo {
    max-width: 174px;
    width: 100%;

    img {
      width: 174px;
      height: 36px;
    }
  }

  .main-onescreen {
    height: 600px;
  }

  .main-services__wrapper {
    flex-wrap: wrap;
  }

  .main-services__item {
    width: 50%;
    height: 600px;
  }

  .adv__item {
    margin-top: 200px;
    max-width: 380px;
    padding: 30px 20px;

    &::before {
      width: 300px;
      height: 300px;
      top: 0;
    }
  }

  .main-stages__item {
    width: 350px;
    height: 300px;
  }

  .main-stages__item--number {
    font-size: 140px;
  }

  .project-map__bg {
    height: 500px;
  }

  .reviews__item-title {
    font-size: 20px;
  }

  .secondary-onescreen {
    padding-top: 62px;
    min-height: 550px;
  }

  .present {
    min-height: 450px;
  }

  .stages__content-number {
    font-size: 96px;
    line-height: 96px;
  }

  .stages__box-title {
    margin-bottom: 30px;
  }

}

@media(max-width: 1000px) {
  .adv__item-title {
    margin-bottom: 20px;
  }

  .adv__item {
    margin-top: 120px;
    max-width: 300px;
    padding: 30px 15px;
    padding-bottom: 15px;

    &::before {
      width: 210px;
      height: 210px;
    }
  }

  .adv__item-logo {
    top: 15px;

    svg {
      width: 62px;
      height: 63px;
    }
  }

  .team__content-subtitle {
    font-size: 20px;
  }

  .team__photo {
    height: 700px;
    gap: 10px;
    padding: 0 10px;
  }

  .team__content {
    padding-right: 15px;
  }

  .feedback__bg-shadow {
    padding: 80px 0;
  }

  .feedback__wrapper {
    flex-wrap: wrap;
  }

  .feedback__items-input {
    padding: 20px 20px;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .feedback__items-textarea {
    margin-bottom: 0;
    height: 180px !important;
    resize: none;
  }

  .questions__item {
    padding: 30px 30px;
  }

  .standard-projects__item-box {
    padding: 30px 50px;
  }

  .standard-projects__item {
    height: 40vh;
  }

  .other-projects__inner {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .other-projects__item {
    width: 80%;
    margin: 0 auto;
  }

  .slider-nav__wrapper {
    .arrow__wrapper {
      img {
        width: 24px;
        height: 46px;
      }
    }

    .slick-prev {
      left: 0px;

    }

    .slick-next {
      right: 0px;
    }
  }

  .galleryprojects__item {
    margin-bottom: 100px;
  }

  .projecttemplate-onescreen__wrapper {
    grid-template-columns: 1fr;
  }

  .projecttemplate-onescreen__item-img {
    margin: 0 auto;
    width: 90%;
    height: 53vw;
    object-fit: cover;
  }
}

@media(max-width: 900px) {
  .main-stages__item-title {
    text-align: center;
  }

  .main-stages__item {
    width: 300px;
    height: 300px;
    padding: 30px;

    &:hover {
      background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
    }
  }

  .main-stages__item-text {
    opacity: 1;
  }

  .main-stages__item--number {
    display: none;
  }

  .project-map {
    display: none;
  }

  .present__body {
    width: 100%;
    padding-right: 0;
  }

  .present__img {
    height: 500px;
    object-fit: cover;
    width: 100%;
  }

  .product__inner {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }

  .product1-img {
    max-width: 601px;
    width: 100%;
    height: 416px;
  }


  .slider-for.slick-initialized.slick-slider {
    max-width: 601px;
  }


}

@media(max-width: 850px) {
  .container {
    padding: 0px 60px;
  }

  .start-contact {
    display: none;
  }

  .header {
    top: 0;
  }

  .main-portfolio__item-content {
    padding: 30px 30px 30px 60px;
  }
}

@media(max-width: 800px) {
  .global-btn--length {
    font-size: 16px;
  }

  .section {
    // margin: 30px 0;
    padding: 30px 0;
  }

  .social {
    display: none;
  }

  .main-onescreen {
    height: auto;
  }

  .main-onescreen__body,
  .secondary-onescreen__body {
    width: 100%;
  }

  .global-screen__list {
    margin-bottom: 20px;
  }

  .main-services__item {
    height: 500px;
  }

  .main-portfolio__item {
    height: auto;
  }

  .main-portfolio__item-img,
  .main-portfolio__item-content {
    position: inherit;
    width: 100%;
  }

  .main-portfolio__item-content {
    height: fit-content;
    transform: translate(0, 0);
  }

  .adv__item {
    margin-top: 50px;
    max-width: 100%;
    padding: 30px;

    &::before {
      display: none;
    }
  }

  .adv__item-title {
    margin-bottom: 30px;
  }

  .team__content {
    width: 60%;
  }

  .team__photo {
    grid-template-columns: repeat(1, 1fr);
    width: 30%;
    height: auto;
  }

  .team__photo-item {
    height: 200px;
  }

  .main-stages__item-title {
    margin-bottom: 30px;
  }

  .main-stages__item {
    width: 100%;
    height: fit-content;
  }

  .main-stages__item-text {
    max-width: 500px;
    width: 100%;

    display: block;
  }

  .reviews__wrapper {
    padding: 0 50px;
  }

  .reviews__item {
    margin: 0 15px;
    padding: 20px;
  }

  .reviews__item-title {
    margin-bottom: 20px;
  }

  .footer__item-4 {
    margin-left: 0;
  }

  .breadcrumbs {
    margin-bottom: 10px;
    padding-top: 20px;
  }

  .stages__wrapper {
    flex-wrap: wrap;
  }

  .stages__content {
    margin-bottom: 30px;
    width: 100%;
    margin-left: 0;
  }

  .stages__img {
    order: 1;
    width: 100%;
    min-height: 300px;
  }

  .standard-projects__inner {
    flex-wrap: wrap;
  }

  .standard-projects__item {
    width: 100%;
  }

  .standard-projects__item-box {
    &:hover {
      background: rgba(25, 43, 68, 0.5);
    }
  }

  .standard-projects__btn {
    margin: 0 auto;
  }

  .other-projects__item-box {
    &:hover {
      background: rgba(25, 43, 68, 0.5);

      .other-projects__subtitle {
        color: $white;
      }
    }
  }

  .other-projects__item {
    width: 100%;
  }

  .other-projects__item-box {
    padding: 20px;
  }

  .other-projects__btn {
    margin: 0 auto;
  }

  .product2-img {
    max-width: 200px;
    height: 140px;
  }

}

@media(max-width: 700px) {
  .team__wrapper {
    flex-wrap: wrap;
  }

  .team__content {
    width: 100%;
    margin-bottom: 30px;
    padding-right: 0;
  }

  .team__photo {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    // height: auto;
    padding: 0 20px;
    gap: 20px;
  }

  .team__photo-item {
    height: 300px;
  }

  .team__photo-item--1 {
    grid-row-start: span 1;

  }

  .team__photo-item--2 {
    grid-row-start: span 1;

  }

  .team__photo-item--3 {
    grid-row-start: span 1;

  }

  .team__photo-item--4 {
    grid-row-start: span 1;

  }

  .slick-prev {
    display: none;
  }

  .slick-next {
    display: none;
  }

  .reviews__wrapper {
    padding: 0;
  }

  .footer__item-1 {
    order: 1;
    margin-bottom: 20px;
  }

  .footer__item-2 {
    order: 2;
  }

  .footer__item-3 {
    order: 4;
    max-width: 400px;
  }

  .footer__item-4 {
    order: 3;
    text-align: left;
  }

  .present__img {
    height: 400px;
  }

  .product2-img {
    max-width: 180px;
    height: 110px;
  }

  .projecttemplate-onescreen__item-img {
    width: 100%;
    height: 56vw;
  }
}

// @media(max-width: 600px) {
//   .container {
//     padding: 0px 20px;
//   }

//   .header__btn {
//     margin-left: 0;
//   }

//   .main-portfolio__item-content {
//     padding: 20px;
//   }

//   .main-portfolio__item-img img {
//     height: auto;
//   }
// }

@media(max-width: 600px) {
  .container {
    padding: 0px 20px;
  }

  .header__btn {
    margin-left: 0;
  }

  .header__btn {
    display: none;
  }

  .nav.active {
    padding: 40px 100px 40px 40px;
  }

  .title-h1 {
    text-align: center;
  }

  .main-onescreen-btn,
  .secondary-onescreen-btn {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .global-screen__list {
    padding-left: 30px;

    &::before {
      width: 20px;
      height: 20px;
    }
  }

  .main-services__item {
    width: 100%;
    height: 220px;
    // background-size: 100% 100%;
    background-size: cover;

    &:hover {
      background-size: cover;
    }
  }

  .main-services__item-btn {
    margin-left: 0;
    margin-right: auto;
  }

  .main-services__item-title {
    max-width: 100%;
    width: 100%;
  }

  .main-portfolio__item-content {
    padding: 20px;
  }

  .main-portfolio__item-img img {
    height: auto;
  }

  .feedback__title {
    margin-bottom: 20px;
  }

  .present__img {
    height: 300px;
  }

  .standard-projects__item-box {
    padding: 20px;
  }

  .slider-nav__wrapper {
    padding: 0;

    .slick-arrow,
    .slick-prev,
    .slick-next {
      display: none !important;
    }
  }

  .product1-img {
    max-width: 396px;
    width: 100%;
    height: 275px;
  }


  .slider-for.slick-initialized.slick-slider {
    max-width: 396px;

  }

  .product__item {
    margin-bottom: 50px;
  }

  // .product__box-title {
  //   font-size: 20px;
  // }

  // .banner__title {
  //   font-size: 40px;
  // }

  // .banner__subtitle {
  //   font-size: 20px;
  // }
  .projecttemplate-onescreen__item-img {
    width: 100%;
    height: 65vw;
  }

  .buy {
    bottom: 25px;
    right: -120px;
    font-size: 18px;
  }


}

@media(max-width: 500px) {
  .title-h1 {
    font-size: 36px;
  }

  .title-h2 {
    font-size: 32px;
  }

  .title-h3 {
    font-size: 24px;
  }

  .title-h4 {
    font-size: 20px;
  }

  .adv__item {
    padding: 30px 15px 20px;
  }

  .team__photo-item {
    height: 250px;
  }

  .other-projects__item {
    height: 30vh;
  }

  .product2-img {
    max-width: 180px;
    height: 140px;
  }

  .projecttemplate-onescreen__item-img {
    width: 100%;
    height: 62vw;
  }

  .contacts__inner{
    flex-wrap: wrap;
  }
  .contacts__item{
    width: 100%;
    margin-bottom: 30px;
  }

}


@media(max-width: 450px) {
  .team__photo {
    padding: 0 10px;
    gap: 10px;
  }

  .team__photo-item {
    height: 200px;
  }

  .product2-img {
    max-width: 140px;
    height: 100px;
  }

  .galleryprojects__wrapper--margin {
    flex-wrap: wrap;
    // text-align: center;
    justify-content: center !important;
    width: 100%;

    .galleryprojects__link {
      margin: 0 auto;
      display: block;
      margin-bottom: 30px;
      margin-right: 50px;
      margin-left: 50px;
    }

    .galleryprojects__btn {
      display: block;
      margin: 0 auto;
    }
  }
}

@media(max-width: 400px) {
  .galleryprojects__wrapper {
    justify-content: space-between;
  }

  .galleryprojects__link {
    margin-right: 15px;
  }
}