%Monts-Regular {
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: normal;
}

%Monts-SemiBold {
  font-family: 'Montserrat-SemiBold', sans-serif;
  font-weight: normal;
}

%Oswald-Regular {
  font-family: 'Oswald-Regular', sans-serif;
  font-weight: normal;
}



$red: #D41117;
$dark-grey: #747C87;
$blue: #144C99;
$dark-blue: #192B44;
$background: #F5F5F5;
$white: #ffffff;
// $line: #BCB3A9;