%Monts-Regular {
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: normal;
}

%Monts-SemiBold {
  font-family: 'Montserrat-SemiBold', sans-serif;
  font-weight: normal;
}

%Oswald-Regular {
  font-family: 'Oswald-Regular', sans-serif;
  font-weight: normal;
  letter-spacing: -1px;
};



$red: rgb(212, 17, 24);
$dark-grey: #747C87;
$blue: #144c99;
$dark-blue: rgb(25, 43, 68);
// $background: #F5F5F5;
$background: #E3E6EA;
$white: #ffffff;
// $line: #BCB3A9;


