@import 'vars';
@import 'reset';
@import 'global';
@import 'fonts';

// start header
.header {
  background-color: $white;
  padding: 20px 0;
  position: absolute;
  top: 60px;
  width: 100%;
}

.header__fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  animation-name: show_header;
  animation-duration: 1s;
  z-index: 100;
}

@keyframes show_header {
  0% {
    opacity: 0;
    top: -70px
  }

  100% {
    opacity: 1;
    top: 0;
  }
}


.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 3;
}

.header__logo {
  max-width: 234px;
  width: 100%;

  img {
    width: 234px;
    height: 48px;
  }
}

.header__btn {
  z-index: 1;
}

.menu__list {
  z-index: 1;
  font-size: 18px;
  display: inline-block;
  color: $dark-blue;
  transition: all .3s;
  cursor: pointer;
  position: relative;
  padding: 5px 0;

  &+.menu__list {
    margin-left: 30px;
  }

  &:hover {
    color: $red;

    @media (min-width: 1800px) {
      .dropmenu {
        display: block;
      }
    }

  }
}

.dropmenu {
  position: absolute;
  top: 30px;
  z-index: 1;
  padding: 30px 10px 0px 10px !important;
  width: fit-content;
  display: none;

  width: 200px !important;
  background-color: $white;
  color: $dark-blue;


  &__list {
    margin-bottom: 15px;
  }

  .dropmenu__list-link {
    width: 100%;

    &:hover {
      color: $red;
    }
  }
}

.mob-menu {
  display: none;
}

.menu__btn {
  width: 42px;
  height: 42px;
  cursor: pointer;
  z-index: 100;
  display: none;
  background-color: $blue;
  padding-top: 4px !important;
  border-radius: 5px;
  border: 1px solid $blue;
  z-index: 3;

  &.active {
    .row {
      height: 3px;
    }

    .row1 {
      transform: rotate(45deg);
      position: relative;
      top: 8px;
      background-color: $white;
      transition: all .5s ease 0s;
    }

    .row2 {
      transform: rotate(-45deg);
      position: relative;
      top: -1px;
      background-color: $white;
      transition: all .5s ease 0s;
    }

    .row3 {
      opacity: 0;
    }
  }
}

.row {
  width: 25px;
  background-color: $white;
  height: 3px;
  border-radius: 5px;
  display: block;
  margin-bottom: 6px;
  margin-top: 6px;
  transition: all .3s;
  margin: 6px auto;
}

.social {
  z-index: 1;

}

.social__list {
  display: inline-block;
  width: 30px;
  height: 30px;
  transition: all .3s;
  border-radius: 5px;

  img {
    width: 30px;
    height: 30px;
  }

  &+.social__list {
    margin-left: 30px;
  }


  &.social__list-vk {
    &:hover {
      box-shadow: 4px 4px 4px 0 rgba(65, 105, 225, 0.5);
    }
  }

  &.social__list-tg {
    &:hover {
      box-shadow: 4px 4px 4px 0 rgba(28, 138, 219, 0.5);
    }
  }

  &.social__list-wh {
    &:hover {
      box-shadow: 4px 4px 4px 0 rgba(41, 167, 26, 0.5);
    }
  }
}

// end header


// start section start-contact
.start-contact__inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  font-size: 16px;
}

.start-contact__item {
  padding: 15px;
}

.start-contact__item-tel {
  border-bottom: 1px solid $dark-grey;
  transition: all .3s;

  &:hover {
    color: $red;
    border-bottom: 1px solid $red;
  }
}

.start-contact__item-link {
  transition: all .3s;

  &:hover {
    color: $red;
  }
}

// end section start-contact


// start section main-onescreen
.main-onescreen {
  height: 94vh;
  overflow: hidden;
  padding-top: 168px;
}

@media (min-width: 800px) {
  .main-onescreen {
    display: flex;
  }
}

.main-onescreen__content {
  flex: 0 0 100%;
  z-index: 2;
}

.main-onescreen__body {
  width: 60%;
}

.main-onescreen-title {
  margin-bottom: 50px;
  color: $red;

}

.main-onescreen__images {
  position: relative;
  z-index: 1;
}

@media (min-width: 800px) {
  .main-onescreen__images {
    position: relative;
    flex: 0 0 65%;
    transform: translate(-100%, 0px);
  }

  .main-onescreen__img {
    position: absolute;
    width: 100%;
    height: 40vw;
    bottom: 0;
    left: 0;
    object-fit: cover;
  }
}


// end section main-onescreen

// start section main-services
.main-services__title {
  color: $blue;
  padding-top: 30px;
  margin-bottom: 30px;
}

.main-services__wrapper {
  display: flex;
  justify-content: space-between;
}

.main-services__item {
  width: 25%;
  height: 700px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all .5s;
  background-size: 100% 100%;

  &:hover {
    background-size: 110% 110%;
  }
}

.main-services__item-bg {
  background: rgba(25, 43, 68, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  padding: 30px;
}

.main-services__item-title {
  margin: 0 auto;
  max-width: 360px;
  width: 100%;
  color: $white;
}

.main-services__item-btn {
  margin: 0 auto;
}

// end section main-services

// start section main-portfolio
.main-portfolio-title {
  color: $red;
}

.main-portfolio__inner {
  margin-bottom: 50px;

}

.main-portfolio__item {
  position: relative;
  width: 100%;
  height: 600px;
}

.main-portfolio__item-content {
  background-color: $dark-grey;
  padding: 30px 30px 50px 162px;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  color: $white;
  height: 400px;
  position: absolute;
  left: 0;
  z-index: 1;
  width: 45%;
  top: 50%;
  border-radius: 3px;
  transform: translate(0, -50%);

}

.main-portfolio__item-content--wrapper {
  width: 100%;
  margin-bottom: 30px;
}

.main-portfolio__item-title {
  margin-bottom: 30px;
}

.main-portfolio__item-descr {
  max-width: 730px;
  width: 100%;
}

.main-portfolio__item-img {
  position: absolute;
  right: 0;
  width: 60%;


  img {
    border-radius: 3px;
    width: 100%;
    object-fit: cover;
    height: 600px;
  }
}

// end section main-portfolio

// start section adv
.adv {
  padding-bottom: 50px;
}

.adv__inner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.adv__item {
  background: linear-gradient(180deg, #fff 30%, rgba(255, 255, 255, 0) 100%);
  padding: 30px 25px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  max-width: 500px;
  width: 100%;
  text-align: center;
  margin: 0 10px;
  margin-top: 220px;
  position: relative;
  border-radius: 3px;

  &::before {
    content: '';
    width: 347px;
    height: 347px;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('../images/icons/adv-bg.png');
  }
}

.adv__item-logo {
  width: 87px;
  height: 87px;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.adv__item-title {
  color: $red;
  margin-bottom: 40px;
}

// end section adv

// start section team
.team {
  margin-bottom: 30px;
}

.team__wrapper {
  display: flex;
  justify-content: space-between;
}

.team__content {
  width: 50%;
  padding-right: 30px;
}

.team__content-title {
  color: $red;
}

.team__content-text {
  margin-bottom: 154px;
}

.team__content-subtitle {
  color: $red;
  @extend %Oswald-Regular;
  font-size: 32px;
  margin-bottom: 50px;
}



.team__photo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 1000px;
  gap: 20px 20px;
  width: 50%;
  background-color: $dark-grey;
  padding: 0 20px;

}

.team__photo-item {
  border-radius: 3px;
}

.team__photo-item--1 {
  grid-row-start: span 9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

}

.team__photo-item--2 {
  grid-row-start: span 10;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.team__photo-item--3 {
  grid-row-start: span 10;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.team__photo-item--4 {
  grid-row-start: span 9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}



// end section team


// start section main-stages
.main-stages__title {
  color: $blue;
  margin-bottom: 50px;
}

.main-stages__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.main-stages__item {
  width: 440px;
  height: 400px;
  position: relative;
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  cursor: pointer;
  padding: 80px 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 3px;

  &:hover {
    background: linear-gradient(180deg, #fff 100%, rgba(255, 255, 255, 0) 100%);

    .main-stages__item-text {
      opacity: 1;
    }

    .main-stages__item--number {
      opacity: 0;
    }
  }
}

.main-stages__item-title {
  color: $red;
}

.main-stages__item-text {
  opacity: 0;
  transition: all .3s;
  text-align: center;
}

.main-stages__item--number {
  @extend %Oswald-Regular;
  font-size: 180px;
  color: transparent;
  background: linear-gradient(180deg, #fff 0%, hsla(0, 0%, 100%, 0) 100%);
  background-clip: text;
  position: absolute;
  bottom: -30px;
  left: 0;
}

// end section main-stages

// start section feedback
.feedback {

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $white;

}

.feedback__bg-shadow {
  background: rgba(25, 43, 68, 0.6);
  padding: 160px 0;
}

.feedback__title {
  text-align: center;
  margin-bottom: 50px;
}

.feedback__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.feedback__item {
  max-width: 465px;
  width: 100%;
  margin: 0px 20px;
}

.feedback__items-input {
  border: 1px solid $white;
  background: rgba(255, 255, 255, 0.1);
  color: $white;
  padding: 25px 20px;
  margin-bottom: 35px;
  width: 100%;
  font-size: 18px;
  @extend %Monts-Regular;
  border-radius: 3px;

  &::placeholder {
    color: $white;
  }
}

.feedback__items-textarea {
  margin-bottom: 0;
  height: 183px !important;
  resize: none;
}

.feedback__inner-btn {
  width: 100%;
  text-align: center;
}

.feedback__btn {
  margin: 0 auto;
}

// end section feedback

// start section questions
.questions__inner {
  margin-bottom: 50px;
}

.questions__item {
  padding: 30px 60px;
  max-width: 1274px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  transition: all .3s;
  border-radius: 3px;
  cursor: pointer;
}

.questions__item.main-btn {
  box-shadow: none;
  background-color: $white;

  &:hover {
    box-shadow: 0px 0px 10px rgba(25, 43, 68, 0.5);
  }
}

.questions__wrapper {
  position: relative;
  z-index: 10;
}

.questions__item-title {
  display: flex;
  justify-content: space-between;
  @extend %Monts-SemiBold;
  color: $blue;

}

.questions__item-title--text {
  position: relative;

}

.questions__item-title--btn.active {
  transition: all .3s;

  .questions__row-1 {
    transform: rotate(45deg);
  }

  .questions__row-2 {
    transform: rotate(-45deg);
    top: 9px;
  }
}

.questions__row {
  height: 3px;
  width: 25px;
  border-radius: 10px;
  margin-left: 20px;
  transition: all .3s;
  background-color: $blue;
}

.questions__row-1 {
  transform: rotate(90deg);
  position: relative;
  top: 12px;
}

.questions__row-2 {
  position: relative;
  top: 10px;
}

.questions__item-text {
  padding-top: 25px;
  display: none;
}

.questions__text-open {
  display: block;
}

.questions__btn {
  margin: 0 auto;
}

// end section questions


// start section loans
.main-loans__title {
  color: $red;
  margin-bottom: 30px;
}

.main-loans__descr {
  margin-bottom: 50px;
}

.main-loans__btn {
  margin: 0 auto;
  display: block;
}
.main-loans__title--blue{
  color:$blue;
}
// end section loans

// start section project-map
.project-map {
  background-color: $dark-grey;
}

.project-map__title {
  color: $white;
  margin-bottom: 30px;
}

.project-map__btn {
  margin: 0 auto;
}

.project-map__bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 884px;
  margin-bottom: 50px;
}

// end section project-map

// start section reviews
.reviews__title {
  color: $blue;
  margin-bottom: 30px;
}

.reviews__wrapper {
  position: relative;
  padding: 0 60px;
}


.reviews__item {
  padding: 30px;
  width: 638px;
  height: 350px;
  overflow-y: auto;
  background: linear-gradient(180deg, #fff 0%, hsla(0, 0%, 100%, 0) 100%);
  margin: 0 30px;
  border-radius: 3px;
}

.reviews__item-title {
  color: $blue;
  margin-bottom: 30px;
  @extend %Monts-SemiBold;
  font-size: 24px;
}

// end section reviews

// start footer
.footer {
  font-size: 16px;
  color: $dark-blue;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}


.footer__item-1 {
  max-width: 280px;
  width: 100%;
  margin-bottom: 30px;

  .footer__item-logo {
    margin-bottom: 20px;

    img {
      width: 234px;
      height: 48px;
    }
  }
}

.footer__item-2 {
  max-width: 210px;
  width: 100%;

  .footer__menu-list {
    margin-bottom: 20px;
    transition: all .3s;

    &:hover {
      color: $red;
    }
  }
}

.footer__item-3 {
  max-width: 400px;
  width: 100%;

  .footer__item-text {
    margin-bottom: 60px;
  }

  .footer__link {
    margin-bottom: 20px;
    transition: all .3s;

    &:hover {
      color: $red;
    }
  }
}

.footer__item-4 {
  max-width: 160px;
  width: 100%;
  text-align: right;

  .footer__item-phone {
    margin-bottom: 20px;
    transition: all .3s;

    &:hover {
      color: $red;
    }
  }

  .footer__item-email {
    margin-bottom: 20px;
    transition: all .3s;

    &:hover {
      color: $red;
    }
  }

}



// end footer

// start secondary
.secondary-onescreen {
  min-height: 700px;
  overflow: hidden;
  padding-top: 89px;
}

@media (min-width: 800px) {
  .secondary-onescreen {
    display: flex;
  }
}

.secondary-onescreen__content {
  flex: 0 0 100%;
  z-index: 2;
}

.secondary-onescreen__body {
  width: 50%;
}

.secondary-onescreen-title {
  margin-bottom: 40px;
  color: $red;
  line-height: 125%;
}

.secondary-onescreen__images {
  position: relative;
  z-index: 1;
}

@media (min-width: 800px) {
  .secondary-onescreen__images {
    position: relative;
    flex: 0 0 50%;
    transform: translate(-100%, 0px);
  }

  .secondary-onescreen__img {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    object-fit: cover;
    padding-left: 30px;
  }
}

.secondary-onescreen-btn {
  margin-bottom: 30px;
}


// end secondary

// start frame
.frame-about {
  color: $white;
  background-color: $dark-grey;
}

// end frame

// start section present
.present {
  color: $white;
  background-color: $dark-grey;
  min-height: 650px;
}

@media (min-width: 900px) {
  .present {
    display: flex;
  }
}

.present-text {
  margin-bottom: 50px;
}

.present__content {
  flex: 0 0 100%;
  z-index: 2;
}

.present__body {
  width: 50%;
  padding-right: 10px;
}

.present-title {
  margin-bottom: 40px;
}

.present__images {
  position: relative;
  z-index: 1;
}

@media (min-width: 900px) {
  .present__images {
    position: relative;
    flex: 0 0 50%;
    transform: translate(-100%, 0px);
  }

  .present__img {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    object-fit: cover;
  }
}

// end section present

// start section stages
.stages__title {
  color: $red;
}

.stages__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
}

.stages__img {
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50%;
  border-radius: 3px;
}

.stages__content {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  width: 50%;
  margin-left: 20px;
}

.stages__content-box {
  padding-left: 40px;
}

.stages__content-number {
  @extend %Oswald-Regular;
  font-size: 236px;
  line-height: 236px;
  letter-spacing: -0.01em;
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  // display: flex;
  // align-items: flex-start;
  height: 100%;
  min-height: 500px;
}

.stages__box-title {
  margin-bottom: 50px;
  color: $red;
}

// end section stages

// start section myths
.myths__title {
  color: $red;
  margin-bottom: 30px;
}

.myths__text {
  margin-bottom: 50px;
}

// end section myths

// start section standard-projects
.standard-projects__title {
  color: $blue;
}

.standard-projects__inner {
  display: flex;
  justify-content: space-between;
}

.standard-projects__item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 70vh;
  cursor: pointer;
}

.standard-projects__item-box {
  background: rgba(25, 43, 68, 0.5);
  height: 100%;
  padding: 30px 96px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  transition: all .3s;

  &:hover {
    background: rgba(25, 43, 68, 0.2);
  }
}

.standard-projects__subtitle {
  color: $white;
  width: 100%;
}

// end section standard-projects

// start section other-projects
.other-projects__title {
  color: $red;
}

.other-projects__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.other-projects__item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // width: 50%;
  height: 50vh;
  cursor: pointer;
  border-radius: 3px;
}

.other-projects__item-box {
  background: rgba(25, 43, 68, 0.5);
  height: 100%;
  padding: 30px 50px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  transition: all .3s;
  border-radius: 3px;

  &:hover {
    background: rgba(25, 43, 68, 0.0);

    .other-projects__subtitle {
      color: $dark-blue;
    }
  }
}

.other-projects__subtitle {
  color: $white;
  width: 100%;
  transition: all .3s;
}

// end section other-projects

// start section offer
.offer__title {
  color: $red;
}

.offer__item {
  padding: 30px 60px;
  max-width: 626px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  transition: all .3s;
  border-radius: 3px;
  cursor: pointer;
  color: $blue;
  @extend %Monts-SemiBold;
  text-align: center;
  display: block;
}

.offer__item.main-btn {
  box-shadow: none;
  background-color: $white;

  &:hover {
    box-shadow: 0px 0px 10px rgba(25, 43, 68, 0.5);
  }
}

// end section offer

// start section galleryprojects
.galleryprojects__title {
  color: $red;
}

.product__item {

  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 0;
  }
}

.product__wrapper {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.slider-for {
  max-width: 700px;
  width: 100%;
}

.product1-img {
  width: 700px;
  height: 490px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
}

.product__box {
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.product__box-title {
  margin-bottom: 20px;
  color: $blue;
}

.product__text {
  margin-bottom: 20px;

}

.product__text-extra {
  @extend %Monts-SemiBold;
  display: inline-block;
  padding-right: 10px;
  margin-bottom: 20px;
}

.product__text-number {
  display: inline-block;
  color: $blue;
  @extend %Monts-SemiBold;
}

.product__inner {
  width: 100%;
  margin-bottom: 5px;
}

.product__inners {
  font-size: 16px;
  line-height: 18px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 18px;
    border-bottom: 1px dashed rgba(0, 224, 255, 0.5);
    ;
  }
}

.slider-nav__wrapper {
  position: relative;
  margin-bottom: 30px;
  padding: 0 25px;

  .slick-prev {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: -15px;
    z-index: 1;
  }

  .slick-next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: -15px;
  }
}

.product2-img {
  max-width: 270px;
  height: 200px;
  margin: 0 auto;
  border-radius: 3px;
}

.product__btn {
  margin-left: 30px;
}

.galleryprojects__wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.galleryprojects__link {
  margin-right: 30px;
}

// end section galleryprojects
// start section descr-sectin

.descr-sectin-onescreen {
  margin-bottom: 30px;
}

.descr-project {
  margin-bottom: 30px;
}

// end section descr-sectin
// start section projecttemplate
.projecttemplate-onescreen__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.projecttemplate-onescreen__item{
  width: 100%;
 
}
.projecttemplate-onescreen__item-img{
  width: 760px;
  height: 28vw;
  object-fit: cover;
}
@media (min-width: 1920px) {
  .projecttemplate-onescreen__item-img {
    height: 540px;
  }
}
// end section projecttemplate

// start section housefacade
.housefacade__title{
  color: $red;
}
.housefacade__descr{
  margin-bottom: 30px;
}

.galleryprojects__wrapper--margin{
  margin-top: 50px;
}
// end section housefacade
@import 'media';